 @import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');

 body {
     margin: 0;
     line-height: 1.5;
     font-size: 16px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     padding: 0;

 }

 * {
     margin: 0;
     padding: 0;
     outline: none;
     text-decoration: none;
     box-sizing: border-box;

 }

 ::before,
 ::after {
     box-sizing: border-box;
 }

 .section {
     background-color: #f2f2fc;
     min-height: 100vh;
     display: block;
     padding: 30px;

 }

 .section .container {
     padding-top: 60px;
     padding-bottom: 70px;

 }

 .section-title {


     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%;
     margin-bottom: 60px;



 }

 .about-section-title {
     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%;
     margin-bottom: 60px;
 }

 .section-title h2 {
     font-size: 40px;
     color: #302e4d;
     font-family: 'Rubik', sans-serif;
     font-weight: 700;
     margin: 0;
     position: relative;

 }

 .about-section-title h2 {
     font-size: 40px;
     color: #302e4d;
     font-family: 'Rubik', sans-serif;
     font-weight: 700;
     margin: 0;
     position: relative;
 }

 .section-title h2::before {
     content: '';
     height: 4px;
     width: 50px;
     position: absolute;
     top: 100%;
     left: 0;
 }

 .about-section-title h2::before {
     content: '';
     height: 4px;
     width: 50px;
     position: absolute;
     top: 100%;
     left: 0;
 }



 .section-title h2::after {
     content: '';
     height: 4px;
     width: 25px;
     position: absolute;
     top: 100%;
     left: 0;
     margin-top: 8px;

 }

 .about-section-title h2::after {
     content: '';
     height: 4px;
     width: 25px;
     position: absolute;
     top: 100%;
     left: 0;
     margin-top: 8px;

 }

 .rows {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-right: -15px;
     margin-left: -15px;
     position: relative;



 }

 .padd-15 {
     padding-left: 15px;
     padding-right: 15px;
 }

 .main-content {
     padding-left: 270px;
 }

 .aside {
     width: 270px;
     background-color: #fdf9ff;
     position: fixed;
     height: 100%;
     left: 0;
     top: 0;
     padding-left: 20px;
     z-index: 10;
     border-right: 1px solid #e8dfec;





 }

 .aside .logo {

     padding: 30px 0;


 }
 .aside .logo-cla{
     padding:30px 0;
 }

 .aside .copyright-text {

     font-size: 13px;
     color: #7d7d7d;

 }

 .aside .navs {

     margin: 80px 0;
     list-style: none;
     padding: 0;



 }

 .aside .nav-togler {
     height: 40px;
     width: 45px;
     border: 1px solid #d4d4e3;
     cursor: pointer;
     position: fixed;
     left: 300px;
     top: 30px;
     z-index: 11;
     border-radius: 5px;
     background-color: #fdf9ff;
     display: -ms-flexbox;
     display: none;
     align-items: center;
     -ms-flex-pack: center;
     justify-content: center;
 }

 .aside .nav-togler span {
     height: 2px;
     width: 18px;
     display: inline-block;
     position: relative;

 }

 .nav-togler span::before {
     content: '';
     height: 2px;
     width: 18px;
     position: absolute;
     top: -6px;
     left: 0;
 }

 .nav-togler span::after {
     content: '';
     height: 2px;
     width: 18px;
     position: absolute;
     top: 6px;
     left: 0;
 }

 .containers {
     max-width: 1100px;
     margin: auto;

     width: 100%;

 }

 .aside .aside .navs li {
     display: block;
 }

 .aside .navs li a {
     display: block;
     font-size: 16px;
     color: #302e4d;
     font-weight: 600;
     text-decoration: none;
     line-height: 45px;
     border-bottom: 1px solid #e8dfec;
     -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;
     text-transform: capitalize;


 }

 .aside .navs li a:not(.active):hover {
     padding-left: 5px;
 }

 aside .navs li a .fa {
     margin-right: 5px;
 }

 .aside .logo a {

     font-size: 40px;
     color: #302e4d;
     font-family: 'Rubik', sans-serif;
     font-weight: 700;
     text-decoration: none;
     display: inline-block;
     position: relative;
     padding: 0 10px;
     line-height: 50px;

 }

 .aside .logo-cla a {

    font-size: 40px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    line-height: 50px;

}

 .aside .logo a::before {
     content: '';
     height: 20px;
     width: 20px;
     position: absolute;
     top: 0;
     left: 0;

 }
 .aside .logo-cla a::before {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;

}

 .shadow-dark {
     -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
     box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

 }

 .aside .logo a::after {

     content: '';
     height: 20px;
     width: 20px;
     position: absolute;
     bottom: 0;
     right: 0;
 }
 .aside .logo-cla a::after {

    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

 .hidden {
     display: none !important;
 }

 .home {
     min-height: 100vh;
     display: -ms-flex;
     display: flex;
 }

 .home .intro {
     text-align: center;

 }

 .home .intro img {
     height: 200px;
     width: 200px;
     border-radius: 50%;
     display: inline-block;
     border: 8px solid #ffffff;
 }

 .home .intro h1 {
     font-size: 30px;
     color: #302e4d;
     font-family: 'Rubik', sans-serif;
     font-weight: 700;
     margin: 20px 0 10px;
 }

 .home .intro p {
     font-size: 16px;
     font-weight: 700;
     margin: 0;
     line-height: 22px;
     color: #504e70;


 }

 .home .intro .social-links {

     margin-top: 25px;


 }

 .home .intro .social-links a {
     height: 35px;
     width: 35px;
     display: inline-block;
     text-align: center;
     line-height: 35px;
     color: #ffffff;
     margin: 0 4px;
     border-radius: 50%;
     text-decoration: none;
     -webkit-transition: all .3s ease;
     transition: all .3s ease;
 }

 .home .intro .social-links a:hover {
     -webkit-transform: scale(1.1);
     transform: scale(1.1)
 }


 .about .about-content {

     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%;




 }

 .btns {
     font-size: 16px;
     font-family: 'Rubik', sans-serif;
     font-weight: 500;
     padding: 12px 35px;
     color: #ffffff;
     border-radius: 40px;
     -webkit-transition: all 0.3 ease;
     transition: all 0.3 ease;
     display: inline-block;
     white-space: nowrap;

 }

 .down-btn-cla {
     font-size: 16px;
     font-family: 'Rubik', sans-serif;
     font-weight: 500;
     padding: 12px 35px;
     color: #ffffff;
     border-radius: 40px;
     -webkit-transition: all 0.3 ease;
     transition: all 0.3 ease;
     display: inline-block;
     white-space: nowrap;

 }

 .btns:hover {
     -webkit-transform: scale(1.1);
     transform: scale(1.05);

 }

 .down-btn-cla:hover {
     -webkit-transform: scale(1.1);
     transform: scale(1.05);
 }

 .btns-col {
     flex: right;
     margin-top: 0;
     margin-left: 2px;
     margin-right: 1px;
     border-color: #ec1839;
 }

 .btns-col:hover {
     background-color: #ec1839;
 }

 .about .about-content .about-text {

     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%;

 }

 .about .about-content .about-text h3 {
     font-size: 24px;
     margin-bottom: 15px;
     font-weight: 700;
     color: #302e4d;
 }

 .about .about-content .about-text p {
     font-size: 16px;
     line-height: 25px;
     color: #504e70;
     margin: 0;
 }

 .about .about-content .personal-info {

     -ms-flex: 0 0 60%;
     flex: 0 0 60%;
     max-width: 60%;
     margin-top: 40px;




 }

 .about .about-content .personal-info .info-item {

     -ms-flex: 0 0 50%;
     flex: 0 0 50%;
     max-width: 50%;

 }

 .about .about-content .personal-info .info-item p {
     font-weight: 600;
     padding: 10px 0;
     font-size: 16px;
     color: #302e4d;
     margin: 0;
     border-bottom: 1px solid #e8dfec;

 }

 .about .about-content .personal-info .info-item p span {
     font-weight: 400;
     color: #504e70;
     margin-left: 4px;
     display: inline-block;


 }

 .about .about-content .personal-info .buttons {
     margin-top: 30px;
 }

 .about .about-content .personal-info .buttons .btns {
     margin-right: 15px;
     margin-top: 10px;
 }

 .about .about-content .skills {


     -ms-flex: 0 0 40%;
     flex: 0 0 40%;
     max-width: 40%;
     margin-top: 40px;

 }

 .about .about-content .skills .skill-item {
     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%;

 }

 .about .about-content .skills .skill-item h5 {

     line-height: 40px;
     font-weight: 600px;
     font-size: 16px;
     color: #302e4d;
     margin: 0;
 }

 .about .about-content .skills .skill-item .progresss {
     background-color: #ededed;
     height: 8px;
     border-radius: 4px;
     overflow: hidden;
     width: 100%;
     position: relative;



 }

 .about .about-content .skills .skill-item {

     margin-bottom: 15px;

 }

 .about .about-content .skills .skill-item .progresss .progresss-in {
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     background-color: #ec1839;
     border-radius: 4px;


 }

 .about .about-content .skills .skill-item .progresss .skill-percent {

     line-height: 40px;
     position: absolute;
     right: 0;
     top: -40px;
     font-weight: 400;
     columns: #303030;
 }

 .about .about-content .education {

     -ms-flex: 0 0 50%;
     flex: 0 0 50%;
     max-width: 50%;
     margin-top: 30px;
 }

 .about .about-content .experience {

     -ms-flex: 0 0 50%;
     flex: 0 0 50%;
     max-width: 50%;
     margin-top: 30px;

 }

 .about .about-content h3.title {
     font-size: 24px;
     font-weight: 700;
     color: #302e4d;
 }

 .about .about-content .timeline-box {

     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%;
 }

 .about .about-content .timeline {
     background-color: #fdf9ff;
     padding: 30px 15px;
     border: 1px solid #d4d4e3;
     border-radius: 10px;
     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%;
     position: relative;
 }

 .about .about-content .timelines-b {
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

 .about .about-content .timeline .timeline-item {

     padding-left: 37px;
     padding-bottom: 50px;
     position: relative;
 }
 .about .about-content .timelines-b .timeline-item {

    padding-left: 37px;
    padding-bottom: 50px;
    position: relative;
}

 .about .about-content .timeline .timeline-item:last-child {
     padding-bottom: 0px;

 }

 .about .about-content .timelines-b .timeline-item:last-child {
    padding-bottom: 0px;

}

 .about .about-content .timeline::before {
     content: '';
     width: 1px;
     position: absolute;
     padding-left: 3px;
     margin-left: 14px;
     margin-top: 45px;
     height: 80%;
     left: 0;
     top: 0;
     background-color: #ec1839;



 }

 .about .about-content .timelines-b::before {
    content: '';
    width: 1px;
    position: absolute;
    padding-left: 3px;
    margin-left: 14px;
    margin-top: 45px;
    height: 80%;
    left: 0;
    top: 0;
    background-color: orange;



}

 .about .about-content .timeline .circle-dot {
     position: absolute;
     left: 0;
     top: 0;
     height: 15px;
     width: 15px;
     left: -7px;
     border-radius: 50%;
     background-color: #ec1839;
 }

 .about .about-content .timelines-b .circle-dot-b {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    left: -7px;
    border-radius: 50%;
    background-color: orange;
}

 .about .about-content .timeline .timeline-date {
     font-size: 14px;
     font-weight: 400;
     margin-bottom: 12px;
     color: #504e70;

 }

 .about .about-content .timelines-b .timeline-date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #504e70;

}

 .about .about-content .timeline .timeline-title {
     font-weight: 700;
     font-size: 18px;
     margin-bottom: 15px;
     text-transform: capitalize;

 }

 .about .about-content .timelines-b .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;

}

 .about .about-content .timeline .timeline-text {

     font-size: 16px;
     line-height: 25px;
     color: #504e70;
     margin: 0;
     padding-bottom: 50px;
 }

 .about .about-content .timelines-b .timeline-text {

    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
    padding-bottom: 50px;
}

 .project .project-item {


     -ms-flex: 0 0 33.33%;
     flex: 0 0 33.33%;
     max-width: 33.33%;
     margin-bottom: 30px;
 }

 .project .project-item .project-item-inner {
     background-color: #fdf9ff;
     border: 1px solid #d4d4e3;
     border-radius: 10px;
     padding: 30px 15px;
     text-align: center;

 }

 .project .container {
     padding: 40px;
 }

 .project .project-item .project-item-inner .icon .fa {
     font-size: 40px;

 }

 .project .project-item .project-item-inner h4 {
     font-size: 18px;
     margin-bottom: 15px;
     color: #302e4d;
     font-weight: 700;
 }

 .project .project-item .project-item-inner p {
     font-size: 16px;
     color: #504e70;
     line-height: 25px;
 }

 .contact .contact-info-item {
     -ms-flex: 0 0 33.33%;
     flex: 0 0 33.33%;
     max-width: 33.33%;
     text-align: center;
     margin-bottom: 40px;

 }

 .contact .contact-info-item .icon {
     display: inline-block;
 }

 .contact .contact-info-item .icon .fa {
     font-size: 40px;
     color: #ec1839;
 }

 .icon-call-cla {

     display: inline-block
 }

 .contact .contact-info-item h4 {
     font-weight: 700;
     font-size: 18px;
     color: #302e4d;
     margin: 15px 0 5px;

 }

 .contact .contact-info-item p {
     font-size: 16px;
     line-height: 25px;
     color: #504e70;
     margin: 0;
     font-weight: 400;
 }

 .contact .contact-form {

     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%;

 }

 .contact .contact-form .coli-6 {

     -ms-flex: 0 0 50%;
     flex: 0 0 50%;
     max-width: 50%;

 }

 .contact .contact-form .coli-12 {

     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     max-width: 100%;

 }

 .contact .contact-form .form-item {
     margin-bottom: 30px;
 }

 .contact .contact-form .form-item .form-control {
     width: 100%;
     height: 50px;
     border-radius: 25px;
     border: 1px solid #d4d4e3;
     padding: 10px 25px;
     font-size: 16px;
     color: #303030;
     -webkit-transition: all 0.3 ease;
     transition: all 0.3 ease;

 }

 .contact .contact-form .form-item .form-control:focus {
     -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
     box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
 }

 .contact .contact-form .form-item .form-group textarea .form-control {
     height: 140px;
 }

 .contact .contact-form button {
     height: 50px;
     padding: 0 50px;
 }

 @media(max-width:1199px) {


     .about .about-content .personal-info .info-item p span {
         display: inline-block;
         margin-left: 0;


     }

     .closebtn {
         font-size: 40px;
         top: 15px;
         right: 35px;
         display: none;
     }

 }

 @media(min-width:1199px) {
     #navs-btn {
         display: none;

     }

     #navs {
         display: none;
     }

     body {
         margin: 0;
         padding: 0;
     }
    
 }

 @media(max-width:991px) {
     .project .project-item {
         -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%;

     }

     .aside {
         display: none;
     }

     .section {
         width: 100%;
     }
     .main-content {
        padding-left: 0px;
    }

    body {
        margin: 0;
        padding: 0;
    }
 }

 @media(min-width:991px) {
     #navs-btn {
         display: none;
     }

     #navs {
         display: none;
     }
     body {
        margin: 0;
        padding: 0;
    }
 }

 @media(max-width:767px) {

     .contact .contact-form .coli-6,
     .project .project-item,
     .about .about-content .education,
     .about .about-content .experience,
     .about .about-content .skills,
     .about .about-content .personal-info {
         -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         max-width: 100%;
     }

     .aside {
         display: none;

     }

     .section {
         width: 100%;
     }
     .main-content {
        padding-left: 0px;
    }
    body {
        margin: 0;
        padding: 0;
    }
    

 }

 @media(max-width:575px) {
     .contact .contact-info-item {
         -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         max-width: 100%;
     }

     .main-content {
         padding-left: 0px;
         padding-right:0px;
         margin:0;
         width:100%;
     }
     .about .about-content .personal-info .buttons .btns {
        margin-right: 15px;
        margin-top: 10px;
        float:left;
        font-size:.8rem;
        padding: 9px 23px;

    }
    .about-section-title h2 {
        font-size: 35px;
        color: #302e4d;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        margin: 0;
        position: relative;
    }

    body {
        margin: 0;
        padding: 0;
    }

 }

 @media (max-width: 640px) {
     section {
         width: 100%;
     }
     .about .about-content .personal-info .buttons .btns {
        margin-right: 15px;
        margin-top: 10px;
        float:left;
        font-size:.8rem;
        padding: 10px 25px;
        margin-left:7px;

    }
    body {
        margin: 0;
        padding: 0;
    }
 }